@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

.popup-container {
  width: 300px;
  height: 400px;
  padding: 24px;
  font-family: "Pretendard Variable";
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

.popup-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}

.popup-header-icon {
  width: 118px;
  height: 32px;
  flex-shrink: 0;
}

.popup-header-right-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-shrink: 0;
  align-items: center;
}

.popup-header-right-icon {
  width: 24px;
  height: 24px;
}
