@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

.popup-container {
  width: 300px;
  height: 400px;
  padding: 24px;
  font-family: "Pretendard Variable";
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

.popup-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup-header-icon {
  width: 118px;
  height: 32px;
}
