@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

.badge-mount {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 6px;
}

.mainBadge {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  gap: 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  font-family: "Pretendard Variable";
  color: white;
  width: 54px;
  height: 22px;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 4px;
}

.badge-icon {
  width: 16px;
  height: 16px;
}

.badge-green {
  background-color: #059669;
}

.badge-green:hover {
  background-color: #047857;
}

.badge-yellow {
  background-color: #ca8a04;
}

.badge-yellow:hover {
  background-color: #a16207;
}

.badge-red {
  background-color: #dc2626;
}

.badge-red:hover {
  background-color: #b91c1c;
}

.badge-grey {
  background-color: #525252;
}
