/* ProfilePage.css */

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 뒤로가기 버튼 */
.back-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: start;
  padding-bottom: 24px;
  padding-top: 8px;
  cursor: pointer;
}

.back-button img {
  width: 16px;
}

.back-button-text {
  font-weight: 500;
  font-size: 14px;
  color: black;
}

/* 프로필 이미지 */
.profile-image {
  width: 128px;
  height: 128px;
  margin-bottom: 24px;
}

/* 사용자 이름 */
.profile-name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 24px;
}

/* 로그아웃 버튼 */
.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #333333;
}

.logout-button-content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.logout-button-content img {
  width: 16px;
}

.logout-button-text {
  color: white;
  font-weight: 500;
  font-size: 14px;
}
