.header-container {
  background-color: white;
  color: black;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-logo {
  width: 118px;
  height: 32px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
