/* RegisterSuccessPage.css */

.register-success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Pretendard Variable";
}

.profile-image {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
  color: black;
}

.profile-email {
  font-size: 16px;
  color: #666;
  margin-bottom: 24px;
}

@media (prefers-color-scheme: dark) {
  .profile-name {
    color: white;
  }
  .profile-email {
    color: #aaa;
  }
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.start-button:hover {
  background-color: #333333;
}

.start-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button-text {
  color: white;
  font-weight: 500;
  font-size: 14px;
}
